Source: cuteexplorer-rooted
Section: user/other
Priority: optional
Maintainer: Lcferrum <lcferrum@yandex.com>
Build-Depends: debhelper (>= 7), aegis-builder (>= 1.4), pkg-config
Standards-Version: 3.8.4
Homepage: https://github.com/lcferrum/hmtsu-root-patches

Package: cuteexplorer-rooted
Architecture: armel
Depends: hmtsu (>= 0.1.1), cuteexplorer (>= 0.0.20110815), busybox-devel-su
Section: user/other
Priority: optional
Description: This patch allows to run CuteExplorer app with root privileges.
XB-Maemo-Display-Name: Root patch for CuteExplorer
