Source: fingerterm-rooted
Section: user/other
Priority: optional
Maintainer: Lcferrum <lcferrum@yandex.com>
Build-Depends: debhelper (>= 7), aegis-builder (>= 1.4), pkg-config
Standards-Version: 3.8.4
Homepage: https://github.com/lcferrum/hmtsu-root-patches

Package: fingerterm-rooted
Architecture: armel
Depends: hmtsu (>= 0.1.0), fingerterm (>= 1.0.2), opensudo | inception-bin (>= 0.2.0)
Section: user/other
Priority: optional
Description: This patch allows to run FingerTerm app with root privileges.
XB-Maemo-Display-Name: Root patch for FingerTerm
